<div class="p-5">
    <div>
        <h4>Cписок сторінок</h4>
        <p class="mt-3">Цей проєкт був спрямований на практику написання HTML-тегів, а також використання шаблонів
            Handlebars та фреймворку Bootstrap. Я використовувала ці інструменти для створення сторінки веб-сайту з
            простим та
            зрозумілим дизайном, який містив елементи, такі як заголовки, тексти, форми та кнопки. За допомогою
            Bootstrap я змогла швидко та ефективно стилізувати елементи сторінки, а використання HBS дозволило мені
            забезпечити повторне використання коду та зробити сторінку більш динамічною та легко змінюваною. Цей проєкт
            допоміг отримати базові навички розробки веб-сторінок.</p>
    </div>
    <div class="col-12">
        <div class="mt-5">
            <a href="/summary" class="btn btn-primary col-2">Summary</a>
        </div>
        <div class="mt-3">
            <a href="/education" class="btn btn-primary col-2">Education</a>
        </div>
        <div class="mt-3">
            <a href="/skills" class="btn btn-primary col-2">Skills</a>
        </div>
        <div class="mt-3">
            <a href="/work" class="btn btn-primary col-2">Work</a>
        </div>
        <div class="mt-3">
            <a href="/person" class="btn btn-primary col-2">Person</a>
        </div>
        <div class="mt-3">
            <a href="/bio" class="btn btn-primary col-2">Bio</a>
        </div>
        <div class="mt-3">
            <a href="/program" class="btn btn-primary col-2">Program</a>
        </div>
        <div class="mt-3">
            <a href="/web" class="btn btn-primary col-2">Web</a>
        </div>
        <div class="mt-3">
            <a href="/js" class="btn btn-primary col-2">js</a>
        </div>
        <div class="mt-3">
            <a href="/car" class="btn btn-primary col-2">Car</a>
        </div>
        <div class="mt-3">
            <a href="/mac" class="btn btn-primary col-2">Mac</a>
        </div>
        <div class="mt-3">
            <a href="/facebook" class="btn btn-primary col-2">Facebook</a>
        </div>
        <div class="mt-3">
            <a href="/task21" class="btn btn-primary col-2">Task 2.1</a>
        </div>
        <div class="mt-3">
            <a href="/task22" class="btn btn-primary col-2">Task 2.2</a>
        </div>
        <div class="mt-3">
            <a href="/task31" class="btn btn-primary col-2">Task 3.1</a>
        </div>
        <div class="mt-3">
            <a href="/shophome" class="btn btn-primary col-2">Shop home</a>
        </div>
        <div class="mt-3">
            <a href="/shopproduct" class="btn btn-primary col-2">Shop product</a>
        </div>
        <div class="mt-3">
            <a href="/shopnews" class="btn btn-primary col-2">Shop news</a>
        </div>
        <div class="mt-3">
            <a href="/shoporder" class="btn btn-primary col-2">Shop order</a>
        </div>
        <div class="mt-3">
            <a href="/shopcart" class="btn btn-primary col-2">Shop cart</a>
        </div>
        <div class="mt-3">
            <a href="/shopprofile" class="btn btn-primary col-2">Shop profile</a>
        </div>
        <div class="mt-3">
            <a href="/shopreview" class="btn btn-primary col-2">Shop review</a>
        </div>
        <div class="mt-3">
            <a href="/shopcatalog" class="btn btn-primary col-2">Shop catalog</a>
        </div>
    </div>
</div>