<div class="card my-3 mx-5">
    <div class="card-header">
        <strong>{{text}}</strong>
    </div>
    {{#each data}}
    <ul class="list-group list-group-flush">
        <li class="list-group-item">{{this}}</li>
    </ul>
    {{/each}}
</div>
</div>